

<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

<style>
  .dropdown-menu.show{
    transform: translate3d(0px, 40px, 0px) !important;position: absolute;top: 0px;left: 0px;will-change: transform;width: 100% !important;
  }

  .dropdown {
    position: relative;
    left: 0px;
    top: 0px;
  }
</style>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
           <div class="fully-page">
             <div class="full-headings">
               <h4> Add Notifications</h4>
             </div>
             <!--  -->
             <div class="box-bodys">
              <div class="notify-forms">
              <div class="row">
                <div class="col-md-4">
                  <div class="forms-img">
                     <img src="../assets/img/login-bg/notification11.jpg" style="width: 100%;height: auto;">
                  </div>
                </div>
                 <div class="col-md-8">
                  <div class="full-forms py-2 px-2">
                    <form action="/admin/notify" method="post"> 
                 <div class="form-group row">

                  <div class="form-group add-admin col-md-12">
                    <label class="control-label" for="name">Notification Title</label>
                    <input type="text" name="emailSubject" class="form-control required" placeholder="Add Title" required="">
                   
                </div>     
                  <div class="form-group add-admin col-md-12">
                            <label class="control-label" for="name">Send Notification</label>
                            <textarea name="emailMessage" class="form-control required" required="" style="box-shadow: 0px 2px 20px rgb( 0 0 0 /10%);background: white;"></textarea>
                        </div>

                        <div class="form-group add-admin col-md-12">
                          <label class="control-label" for="name">Notification Title</label>
                          <div class="dropdown">
                            <button class="btn btn-default border dropdown-toggle form-control text-left" type="button" data-toggle="dropdown" style="background-color: white;    border: 2px solid lightgrey !important;">
                                <span class="dropdown-text"> Select Options</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu px-2 py-2" style="width: 100% !important;">
                                <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                <li class="divider"></li>
                                <div class="checkbox-list">
                                    <% if (users) {
                                        for (var i = 0; i < users.length; i++) { %>
                                            <li>
                                                <a href="#">
                                                    <label>
                                                        <input type="checkbox" class="option justone" name='options[]' value='<%= users[i].user_email %>' />
                                                        <%= users[i].firstname %> <%= users[i].lastname %>
                                                    </label>
                                                </a>
                                            </li>
                                    <% } } %>
                                </div>
                            </ul>
                        </div>
                         
                      </div>
<!-- 
                    <div class="form-group add-admin col-md-12">
                      <label class="control-label" for="name">Select User</label>
                      <div class="checkbox-list">
                        <% if (users) {
                          for (var i = 0; i < users.length; i++) { %>
                            <div class="checkbox-item">
                              <input type="checkbox" id="userID_<%= i %>" name="recipientEmail" value="<%= users[i].user_email %>">
                              <label for="userID_<%= i %>">
                                <%= users[i].firstname %> <%= users[i].lastname %>
                              </label>
                            </div>
                        <% } } %>
                      </div>
                    </div> -->

               
                    <div class="form-group  add-admin col-md-12" style="margin-bottom: 0px;">
                      <input type="submit" name="add" class="btn btn-primary" value="Submit"> 
                    </div>   
                  </div>

                </form>
                 </div>
                  </div>
             </div>
           </div>
           <!--  -->
      

           </div>
           <!--  -->
          </div>
        </section>
     
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright by 
          <a href="https://www.myamberinnovations.com/"> Amber Innovations </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>

  <!-- All PAGE DATA TABLEC SCRIPT START All PAGE DATA TABLEC SCRIPT START -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>



<script>

  function notifyUser(id,status)
  { 
  
   
     $.ajax({
  
                  url: "/query",
                  type: "POST",
                  data:{ id : id , status:status},
                  dataType: 'json',
                      success: function(result) { 
                        window.location.href="/query"
                  }
                  }
              )
  }
  </script>



<!-- CHECKBOX DROPDOWN -->

<script>
  $('body').on("click", ".dropdown-menu", function(e) {
      $(this).parent().is(".open") && e.stopPropagation();
  });

  $('.selectall').click(function() {
      if ($(this).is(':checked')) {
          $('.option').prop('checked', true);
          var total = $('input[name="options[]"]:checked').length;
          $(".dropdown-text").html('(' + total + ') Selected');
          $(".select-text").html(' Deselect');
      } else {
          $('.option').prop('checked', false);
          $(".dropdown-text").html('(0) Selected');
          $(".select-text").html(' Select');
      }
  });

  $("input[type='checkbox'].justone").change(function() {
      var a = $("input[type='checkbox'].justone");
      if (a.length == a.filter(":checked").length) {
          $('.selectall').prop('checked', true);
          $(".select-text").html(' Deselect');
      } else {
          $('.selectall').prop('checked', false);
          $(".select-text").html(' Select');
      }
      var total = $('input[name="options[]"]:checked').length;
      $(".dropdown-text").html('(' + total + ') Selected');
  });
</script>