
<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>


<style>
  .conversation-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.customer-message {
    background-color: #e9aaaa;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.support-executive-message {
    background-color: #c51e1e;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    align-self: flex-end;
   
}


</style>


<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">Send Email</h5>
 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      

      <div class="modal-body">

      

        <form action="/admin/sendemail" method="post"> <!-- Adjust the form action URL as needed -->
          <div class="form-group">
            <label for="recipientEmail">Recipient Email:</label>
            <input type="email" class="form-control" id="recipientEmail" name="recipientEmail" value="" readonly>
          </div>

          <input type="hidden" class="form-control" id="ticket_number" name="ticket_number" value="" readonly>
          
          <div class="form-group">
            <label for="emailSubject">Subject:</label>
            <input type="text" class="form-control" id="emailSubject" name="emailSubject" required>
          </div>
          <div class="form-group">
            <label for="emailMessage">Message:</label>
            <textarea class="form-control" id="emailMessage" name="emailMessage" rows="4" required></textarea>
          </div>
          <button type="submit" class="btn btn-success">Send</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeEmailModal()">Close</button>
        </form>
      </div>
      <div class="conversation-container">
        <!-- Conversation messages will be displayed here -->
    </div>

    </div>
  </div>
</div>


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="full-headings">
                  <h4> USER QUERIES MANAGEMENT </h4>
                </div>
                
             
              <% if (output && output.startsWith('Ticket Response')) { %>
                <div class="alert  alert-success">
                  <%= output %>
                </div> 
              <% } else if(output) { %>
                <div class="alert alert-danger">
                  <%= output %>
                </div>   
              <% } %>
              


              <!--  -->
              <div class="table-reponsive box">
                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                  <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                <thead>
                     <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 30.0781px;">Id</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 80.0781px;">Ticket Num  </th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 80.0781px;">Subject  </th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Dc Id: activate to sort column ascending" style="width: 167.953px;"> Message </th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Dc Id: activate to sort column ascending" style="width: 167.953px;"> Sent BY</th>                    
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gross: activate to sort column ascending" style="width: 100.922px;">status</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 110.156px;">Action </th>
                    </tr>
                </thead>
                   <div class="table-responsive">
                      </div>
                      <tbody>

                        <% for(var i = 0; i < queries.length; i++) { %>
                      <tr>
                        <td><%- queries[i].id %></td>   
                        
                        <td>  <%- queries[i].complain_number %> </td>


                        <td>  <%- queries[i].subject %> </td>

                        <td>  <%- queries[i].message %> </td>

                        
                        <td> <button style=" background-color: rgb(255, 255, 255); color: rgb(12, 17, 59); font-weight: bold; " aria-pressed="true" data-toggle="modal" data-target="#emailModal"  data-thread="<%= JSON.stringify(queries[i].ticket_thread) %>" data-ticket="<%- queries[i].complain_number %>" data-email="<%- queries[i].email %>"> <%- queries[i].email %>  </button> </td>

                  

                        <td>                      
                          
                         
                      <% if(queries[i].status == 'opened') { %>
                          <div class="badge badge-warning badge-lg"><%- queries[i].status %></div>
                          <% } else { %>                     
                            <div class="badge badge-success badge-lg"><%- queries[i].status %></div>
                       
                       <% } %>  
                          
                          
                        </td>
                        <td>
                          

                       <% if(queries[i].status == 'opened') { %>
                          <button onclick="updateStatus('<%= queries[i].id %>','<%= queries[i].status %>')" class="badge badge-info badge-lg"> Close Ticket  </button>
                          <% } else { %>                     
                            <div class="badge badge-success badge-lg"><%- queries[i].status %></div>
                       
                       <% } %> 
                 
                        
                        </td>
                    

                        
                      </tr>
                      <% } %>

                      </tbody>
                    </table>
                </div>
              </div>
          </div>
              <!--  -->
                </div>
              </div>
            </div>
          </div>
          </div>
        </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright by 
          <a href="https://www.myamberinnovations.com/"> Amber Innovations </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
  <!-- DATA TABLES SCRIPT START -->
    <!-- All PAGE DATA TABLEC SCRIPT START All PAGE DATA TABLEC SCRIPT START -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>


<script>
  $(document).ready(function() {
      $('#example').DataTable();
  } );
  
  
  
  function updateStatus(id,status)
  { 
  
   
     $.ajax({
  
                  url: "/admin/queries",
                  type: "POST",
                  data:{ id : id , status:status},
                  dataType: 'json',
                      success: function(result) { 
                        window.location.href = '/admin/queries'; 
                  }
                  }
              )
  }
  
  $('#emailModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal


      var recipientEmail = button.data('email'); 
      var ticket_number = button.data('ticket'); 
      var ticket_thread = button.data('thread')

        console.log(ticket_thread)
      var modal = $(this);
  
      // Populate the recipient email field
      modal.find('#recipientEmail').val(recipientEmail);
      modal.find('#ticket_number').val(ticket_number);



      
      var conversationContainer = modal.find('.conversation-container');
        conversationContainer.empty();

      //  ticket_thread.reverse();

// Display conversation messages
ticket_thread.forEach(function(message) {
    var messageHtml = '<div class="message"  >';
    if (message.role === 'customer') {
        messageHtml += '<div class="customer-message" style="text-align:left" >';
    } else {
        messageHtml += '<div class="support-executive-message" style="text-align:right">';
    }
    messageHtml += '<p>' + message.message + '</p>';
    messageHtml += '<span class="message-time">' + formatTime(message.timestamp) + '</span>';
    messageHtml += '</div>'; // Close message container
    messageHtml += '</div>'; // Close message
    conversationContainer.append(messageHtml);
});

// Function to format timestamp
function formatTime(timestamp) {
    var time = new Date(timestamp);
    var hours = time.getHours();
    var minutes = time.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // Handle midnight (0 hours)
    minutes = minutes < 10 ? '0' + minutes : minutes; // Add leading zero to minutes if needed
    var formattedTime = hours + ':' + minutes + ' ' + ampm;
    return formattedTime;
}


    });
  


   
  function closeEmailModal() {
    window.location.href = '/admin/queries'; 
  }

  </script>