
<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="row">
            <div class="fully-tables">
               <div class="cards-headers">
                  <h4> <i class="fa fa-align-right" aria-hidden="true"></i> Add Terms And Condition </h4>
                </div>
                
                  <!--  Text Editor Start  -->

                         <form method="post" action="/admin/tandc" id="tandcForm" class="needs-validation" novalidate="">

                          <div class="form-group">

                          <label for="InputFile">Content</label>
                           <!--<textarea class="form-control" type="text" name="press_review" placeholder="Enter Description" Required/></textarea>-->
                          <textarea id="myeditor" name="tandc"  class="form-control" rows="10" cols="80" Required>
          
                       
                          </textarea>                                       
                          
                          <input class="form-control" type="hidden" id="kilvish" name="tandcID" >
                          </div> 
                          
                          <div class="add-admin" style="margin-bottom: 0px;">
                             <input type="submit" class="btn btn-primary"  style="width:20%;margin-left: 10px;"> 
                          </div>

               </form>
                                                                              
               <!--  Tect Editor End   -->

               	<!-- alert msgs  -->
                 <% if (output === 'Failed to update Terms&Condition' || output === 'Failed to add Terms&Condition ' || output === 'Failed to Delete') { %>
               
                  <div class="alert alert-danger">
                    <%= output %>
                  </div>   
                  
                <% } else { %>
                    <div  class="alert alert-success">
                    <%= output %>
                  </div>

                                                 
                <% } %> 
          <!-- /alert msgs  -->

                    <div class="fulls-headings mt-4">
                     <h4><i class="fa fa-align-right" aria-hidden="true"></i>  View Terms And Condition </h4>
                   </div>
                   <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info" style="margin: 20px 00px;">
                    <thead>
                         <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Id: activate to sort column descending" style="width: 10%;" aria-sort="ascending">s.no</th>
                          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="box: activate to sort column ascending" style="width: 80%;">Terms And Condition </th>
                          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 10%;">Action</th></tr>
                      </thead>
                      <tbody>


              

                      <% for(var i = 0; i < tandcs.length; i++) { %>
                        <tr class="odd">
                                <td class="sorting_1"><%- i+1 %></td>
                                <td><%- tandcs[i].terms %></td>
                                <td><div class="dropdown">
                                  <button class="btn mt-1 mb-1 btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"  onclick="updatetandc('<%- tandcs[i].id %>','<%= JSON.stringify(tandcs[i].terms) %>')" href="#">Edit</a>
                                    <a class="dropdown-item" href="/deletetandc?tandcID=<%= tandcs[i].id %>"  >Delete</a>                                       
                                  </div>
                                </div>
                              </td>
                            </tr>

                            <% } %>
            



                    </tbody>
                    </table>

                      </div>
                     </div>
                 </section>
       </div>
              
            </div>
          </div>
      <footer class="main-footer">
        <div class="footer-left">
          COPYRIGHT MIE RIDE, 2023 Design & Developed by
          <a href="https://cyberimpulses.com/">CISS</a></a>
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
  <script src="../assets/js/text-editor.js"></script>
  <!-- TEXT EDITOR CSS SCRIPT START  TEXT EDITOR CSS SCRIPT START  TEXT EDITOR CSS SCRIPT START  -->
 <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script>
  <script type="text/javascript">
        //resize CKEditor with customised height and width
     CKEDITOR.editorConfig = function (config) {
        config.language = 'es';
        config.uiColor = '#F7B42C';
        config.height = 300;
        config.toolbarCanCollapse = true;
    
    };
    CKEDITOR.replace('myeditor');
</script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>


<script> 


  function updatetandc(id, content)
  { 

    content = content.replace(/"/g, '');
  
  CKEDITOR.instances.myeditor.setData(content);
  document.getElementById("kilvish").value = id;
  }
  
  
  </script>